<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	
		<title>I love BURGERS!</title>
				<link rel="icon" href="https://i.pinimg.com/originals/7b/76/e5/7b76e5ae25406782359cff35790557c6.jpg" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
			<link rel="stylesheet" href="../public/assets/css/burger_style.css">
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/burgers.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
