
<div class="container text-center">
  <div class="row text-white bg-dark mb-4">
    <div class="col-sm-12 ">
      <h1>Eat-Da-Burgers</h1>
      <h3>Rajer That Burger</h3>
    </div>
  </div>
</div>

<div class="container justify-content-center">
  <div class="row mx-2">
    <div class="card border-0 rounded-0 mb-3 mx-4 center-text" id="options">
      <h2 class="card-header text-center">Ready to eat da burgers!</h2>
      <div class="card-body">
        <div class="card-text"> 
          {{#each burgers}}
            {{#unless devoured}}
              {{> burger-block devoured=true}}
            {{/unless}}
          {{/each}}
        </div>
      </div>
    </div>
    <div class="card border-0 rounded-0 mb-3 mx-4 center-text" id="options">
      <h2 class="card-header text-center">Devoured Burgers!</h2>
      <div class="card-body">
        <div class="card-text">        
          {{#each burgers}}
            {{#if devoured}}
              {{> burger-block devoured=false}}
            {{/if}}
          {{/each}}
        </div>
      </div>
    </div>
    <div class="card border-0 rounded-0 mb-3 mx-4 center-text" id="options">
      <h2 class="card-header text-center">Place An Order</h2>
      <div class="card-body">
        <div class="card-text">
          <form class="create-form">
            <div class="form-group">
              <label for="bu">Burger Name:</label>
              <input type="text" id="bu" name="name">
            </div>
            <button type="submit" class="btn btn-outline-secondary rounded-0">Place Order</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


