li {
	border-radius: 25px;
	border: 5px solid rgb(60, 160, 81);
	padding: 25px;
	margin: 10px;

	list-style-type: none;
	font-size: 30px;
}

.label {
	font-weight: bold;
}

.create-form {
	border-radius: 25px;
	border: 5px solid black;
	padding: 10px;
	margin: 25px;
}

.form-group {
	border-radius: 25px;
	margin-bottom: 15px;
}

.input {
	border-style: groove;
}
